// Colors
$color-bg: #0d0630;
$color-text: #c1f7dc;
// $color-text-: #6c698d;

// Spacing

// Fonts

// Font sizes
@font-face {
  font-family: "Ubuntu Regular";
  src: url("./fonts/ubuntu/Ubuntu-Regular.ttf");
}
