@import "./../styles/variables";

.wrap {
  font-family: "Ubuntu Regular";
  height: 100vh;
  background-color: $color-bg;
  height: 50px;
  color: $color-text;
}

// @font-face {
//   font-family: "Ubuntu Regular";
//   src: url("../styles/fonts/ubuntu/Ubuntu-Regular.ttf");
// }

// @font-face {
//   font-family: "Rokkit Regular";
//   src: url("../styles/fonts/rokkit/Rokkitt-Regular.ttf");
// }
